@import "tailwindcss";
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

/* Custom styles */
body {
    font-family: 'Inter', sans-serif;
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}

/* Custom animations */
@theme {
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;
  
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}